
.DS_Store
/*.zip
/validation-horse-or-human
/happy-or-sad
/horse-or-human
/Exercises/Exercise 8 - Multiclass with Signs/*.zip
/Exercises/happy-or-sad
/Exercises/horse-or-human
/Exercises/validation-horse-or-human
/Exercises/training.1600000.processed.noemoticon.csv
